.app-header {
    display: grid;
    position: relative;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid rgba(155, 155, 155, 0.372);

    &.expanded {
        height: 160px;

    }

    @include for-narrow-layout {
        grid-template-columns:
            40px repeat(3, 1fr) 40px;
    }

    @include for-normal-layout {
        grid-template-columns:
            40px repeat(3, 1fr) 40px;
    }

    @include for-wide-layout {
        grid-template-columns:
            80px repeat(3, 1fr) 80px;
    }

    .logo {
        grid-column: 2/3;
    }

    .stay-header-filter {
        justify-self: center;
        align-self: center;
    }

    .user-info {
        padding-left: 100px;

        .score {
            background-color: $clr2;
            padding: 8px;
            margin: 10px;
            border-radius: 50%;
        }

        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
        }

    }

    .user-info .btn-link {
        color: $clr2;
    }

    nav {
        font-size: .8em;
        padding: 5px;

    }

    nav a:first-child {
        margin-right: 30px;
    }

    nav a:not(:first-child) {
        border-top: 1px solid $clr1;
        padding: 0 5px;
        margin: 10px;
    }

    nav .active {
        color: $clr1;
    }

}