.header-container {
    border-bottom: 1px solid rgba(155, 155, 155, 0.372);
    margin-bottom: 10px;
    background-color: white;
    z-index: 50;
    height: 100%;
    width: 100%;

    position: relative;

    &.expanded {
        animation: mymove3 .5s 1;
        padding-bottom: 130px;
    }

    @media (max-width: 780px) {
        margin-bottom: 0;
    }

}


@keyframes mymove3 {
    from {
        padding-bottom: 0;
    }

    100% {
        padding-bottom: 130px;
    }

}

.app-header {
    height: 64px;
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 750px) {
        grid-template-columns: 40px repeat(5, 1fr) 40px;
    }




    // &.expanded {
    //     height: 160px;
    //     // transition: height 0.6s;


    // }

    &.in-details {
        margin: 0 auto;
        max-width: 1127px;

        @include for-narrow-layout {
            grid-template-columns: repeat(3, 1fr);
        }

        @include for-narrow-layout {
            grid-template-columns: repeat(3, 1fr);
        }

        @include for-wide-layout {
            grid-template-columns: repeat(3, 1fr);
        }

        & .logo {
            grid-column: 1/2;
        }
    }

    @include for-narrow-layout {
        grid-template-columns:
            40px repeat(3, 1fr) 40px;
    }

    @include for-normal-layout {
        grid-template-columns:
            40px repeat(3, 1fr) 40px;
    }

    @include for-wide-layout {
        grid-template-columns:
            80px repeat(3, 1fr) 80px;
    }

    h1.logo {
        align-self: center;
        margin: 0;
        grid-column: 2/3;
        color: #ff5171;
    }

    .stay-header-filter {
        justify-self: center;
        align-self: center;
    }

    .user-info {
        padding-left: 100px;

        .score {
            background-color: $clr2;
            padding: 8px;
            margin: 10px;
            border-radius: 50%;
        }

        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
        }

    }

    .user-info .btn-link {
        color: $clr2;
    }

    nav {
        font-size: .8em;
        padding: 5px;

    }

    nav a:first-child {
        margin-right: 30px;
    }

    nav a:not(:first-child) {
        border-top: 1px solid $clr1;
        padding: 0 5px;
        margin: 10px;
    }

    nav .active {
        color: $clr1;
    }

}