.header-filter-btn {
    font-family: Cereal-Bold;
    color: black;
    background-color: white;
    cursor: pointer;
    font-size: 1rem;


}


.guests {
    color: #717171;
    font-family: Cereal-Book;

}

.splitter {
    height: 32px;
    width: 1px;
    background-color: rgb(221, 221, 221);
    flex: 0 0 1px;
}

.stay-header-filter {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 2px, rgba(0, 0, 0, 0.05) 0px 4px 12px;
    align-items: center;
    border: 1px solid;
    border-radius: 50px;
    position: relative;
    width: max-content;

}

.stay-header-filter-extanded {
    top: 60px;
    height: 66px;
    width: max-content;
    position: relative;
    background-clip: padding-box;
    margin: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-radius: 45px;
}


.place-modal {
    position: absolute;
    top: 80px;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 8px 16px;

    border: 1px, black;
    border-radius: 40px;
    width: max-content;
    background-color: white;
}

.search-icon {
    // padding: 10px;
    margin: 5px 5px 5px 0px;
}