.head-filter-form {
    height: 100%;
    align-items: center;
    // justify-content: space-between;
}

.location-container {
    padding-inline-start: 1.5rem;
    width: 33.3%;

    &.filter-active {
        background-color: white;
        padding-inline-start: 1.5rem;
        height: 100%;
        border-radius: 50px;
        width: 33.3%;
        justify-content: center;
        box-shadow: 0 6px 20px #0003;
    }

    &:hover:not(.filter-active) {
        background-color: #ddd;
        border-radius: 50px;
        height: 100%;
        justify-content: center;
    }
}

.date-container {
    gap: 20px;
    width: 33.3%;
    justify-content: center;

    &.filter-active {
        background-color: white;
        padding-inline-start: 0px;
        height: 100%;
        border-radius: 50px;
        width: 33.3%;
        justify-content: center;
        box-shadow: 0 6px 20px #0003;
    }

    &:hover:not(.filter-active) {
        background-color: #ddd;
        border-radius: 50px;
        height: 100%;
    }
}

.guest-container {
    padding-inline-start: 1.5rem;
    height: 100%;
    border-radius: 50px;
    width: 33.3%;
    justify-content: start;

    &.filter-active {
        background-color: white;
        padding-inline-start: 1.5rem;
        height: 100%;
        border-radius: 50px;
        width: 33.3%;
        justify-content: start;
        box-shadow: 0 6px 20px #0003;


    }

    &:hover:not(.filter-active) {
        background-color: #ddd;
        border-radius: 50px;
        height: 100%;
    }

    & div.icon-search-container {
        position: absolute;
        right: -3px;
        bottom: -3px;
    }


}





.splitter {
    height: 32px;
    width: 1px;
    background-color: rgb(221, 221, 221);
    flex: 0 0 1px;
}

.stay-header-filter {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 2px, rgba(0, 0, 0, 0.05) 0px 4px 12px;
    align-items: center;
    border: 1px solid;
    border-color: rgb(221, 221, 221);
    border-radius: 50px;
    position: relative;
    width: max-content;





    .header-filter-btn {
        font-family: Cereal-Bold;
        color: black;
        background-color: white;
        cursor: pointer;
        font-size: 0.875rem;

        border: 0;
        padding: 5px 10px;
        margin: 5px;
        cursor: pointer;
        background-color: transparent;

        &.add-guests {
            color: #717171;
            font-family: Cereal-Book;

            &.bold {
                font-family: Cereal-Bold;
            }
        }

    }

    &.extanded {
        animation: mymove4 .5s 1;
        background-color: #ebebeb;
        top: 100px;
        height: 66px;
        position: absolute;
        background-clip: padding-box;
        margin: 0px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(221, 221, 221);
        border-radius: 45px;
        width: 800px;

        & .header-filter-btn {
            padding: 0px;
            margin: 0px;
        }

        & button {
            border: 0;
            cursor: pointer;
            background-color: transparent;
        }
    }


}


@keyframes mymove4 {
    from {
        opacity: 0;
        width: 400px;
        top: 0;
    }

    100% {
        opacity: 1;
        top: 100px;
        width: 800px;
    }

}





.place-modal,
.date-modal,
.guest-modal-filter {
    position: absolute;
    top: 80px;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 8px 16px;

    border: 1px, black;
    border-radius: 40px;
    width: 300px;
    background-color: white;


}

.guest-modal-filter {
    button {
        border: 0;
        padding: 5px 10px;
        margin: 5px;
        cursor: pointer;
        background-color: transparent;
    }
}

.search-icon {
    // padding: 10px;
    margin: 5px 5px 5px 0px;
}




// location list 

.location-list {
    cursor: pointer;
    width: 90%;
    align-items: center;
    padding: 8px 32px 8px 12px;

    &:hover {
        background-color: #fcf0f0e7;
    }
}



.search-filter-input {
    position: relative;
    left: -3px;
    font-size: 0.875rem;
    font-family: cereal-book;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: transparent;


    &:focus {
        outline: none;
    }
}




// .search-icon-expand {
//     margin: 13px -10px 7px 0px;
// }





.icon-wrapper {
    font-size: 17px;
    background-color: #ebebeb;
    border-radius: 12px;
    min-width: 48px;
    height: 48px;
    margin-right: 16px;

    justify-content: center;

}

// guest filter

.guest-line-filter {
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 15px 8px 15px 36px;

}

.guest-main-text {
    font-family: Cereal-Bold;
    margin-bottom: 5px;
}

.guest-modal-filter {
    right: 0;
    width: 400px;
}


.filter-main-text {
    font-family: Cereal-Bold;
    font-size: 0.75rem;
    margin-bottom: 0.375rem;
}

.filter-sub-text {
    font-size: 0.875rem;
    font-family: cereal-book;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100px;
}

// responsive part! 

@media (max-width: 950px) {
    .stay-header-filter:not(.extanded) {
        position: absolute;
        left: 180px;

    }
}



@keyframes mymove5 {
    from {
        height: 150%;
        width: 50%;
    }

    100% {
        height: 292%;
        width: 96%;
    }

}

@media (max-width: 850px) {

    .app-header.expanded {
        .logo {
            display: none;
        }

        .main-menu {
            display: none;
        }
    }

    .stay-header-filter.extanded {
        animation: mymove5 .5s 1;

        top: 5px;
        height: 292%;
        width: 96%;
    }

    .head-filter-form {
        flex-direction: column;
        align-items: flex-start;
    }

    .place-modal,
    .date-modal,
    .guest-modal-filter {
        top: 194px;
        width: 97%;
        right: 20px;

    }

    .location-container {
        padding-inline-start: 1.5rem;
        width: 100%;
        height: 33.3%;
        justify-content: center;


        &.filter-active {
            background-color: white;
            height: 33.3%;
            border-radius: 50px;
            width: 100%;
            justify-content: center;
            box-shadow: 0 6px 20px #0003;
        }

        &:hover:not(.filter-active) {
            background-color: #ddd;
            border-radius: 50px;
            height: 33.3%;
            justify-content: center;
        }
    }




    .date-container {
        gap: 20px;
        width: 100%;
        height: 33.3%;
        padding-inline-start: 1.5rem;
        justify-content: flex-start;

        &.filter-active {
            background-color: white;
            border-radius: 50px;
            width: 100%;
            height: 33.3%;
            padding-inline-start: 1.5rem;

            justify-content: flex-start;
            box-shadow: 0 6px 20px #0003;
        }

        &:hover:not(.filter-active) {
            background-color: #ddd;
            border-radius: 50px;
            height: 33.3%;
        }
    }




    .guest-container {
        height: 33.3%;
        width: 100%;
        justify-content: start;

        &.filter-active {
            background-color: white;
            height: 33.3%;
            width: 100%;
            justify-content: start;
            box-shadow: 0 6px 20px #0003;
        }

        &:hover:not(.filter-active) {
            background-color: #ddd;
            border-radius: 50px;
            height: 33.3%;
        }

        & div.icon-search-container {
            position: absolute;
            right: -3px;
            bottom: -3px;
        }
    }
}


@media (max-width: 750px) {

    .logo {
        display: none;
    }

    .main-menu {
        display: none;
    }

    .stay-header-filter:not(.extanded) {
        position: relative;
        left: 0px;
        right: 0px;
        grid-column: 3/4;

        & .form-header {
            max-width: calc(100vw - 90px) !important;
            min-width: 230px;
        }
    }
}


@media (max-width: 500px) {
    .stay-header-filter {
        & .header-filter-btn {
            min-width: unset;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

        }
    }
}