.splide__arrows .splide__arrow {
  width: 30px;
  height: 30px;
  background-color: white;
  opacity: 0%;
  transition: 0.2s;
  top: 48%;
  svg {
    height: 10px;
  }

  &:hover {
    width: 32px;
    height: 32px;

    svg {
      fill: gray;
    }
  }

  &.splide__arrow--prev {
    left: 10px;
    &:hover {
      left: 9px;
    }
  }

  &.splide__arrow--next {
    right: 10px;
    &:hover {
      right: 9px;
    }
  }
}
.splide__arrows .splide__arrow:disabled {
  display: none;
}

.stay-preview:hover .splide__arrow {
  opacity: 85%;
  &:hover {
    opacity: 100%;
  }
}

.splide__pagination {
  bottom: 21px;
  .splide__pagination__page {
    opacity: 80%;
    width: 6px;
    height: 6px;
    &.is-active {
      opacity: 100%;
      width: 6px;
      height: 6px;
      transform: translateY(0);
    }
  }
}
