.labels-crusal-main {
    position: relative;

    & button {
        cursor: pointer;
        background-color: transparent;
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
    }
}

.arrow-icon {
    // position: absolute;
    top: 25px;


}

.lables-filter-nav {
    display: flex;
    overflow: hidden;
    width: 100%;
    gap: 80px;
    height: 80px;
    z-index: 5;
    background-color: #fff;

    margin-bottom: 20px;

    // top: 200px;
    &.hidden {
        height: 0px;
        visibility: hidden;
    }
}

.label-item {
    flex-direction: column;
    cursor: pointer;
}