.labels-crusal-main {

}

.lables-filter-nav {
    display: flex;
    overflow: hidden;
    width: 100%;
    gap: 40px;
    height: 80px;
    z-index: 5;
    background-color: #fff;

    margin-bottom: 20px;

    // top: 200px;
    &.hidden {
        height: 0px;
        visibility: hidden;
    }
}

.label-item {
    flex-direction: column;
    cursor: pointer;
}