.mobile-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid #ebebeb;
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    padding-bottom: 8px;
    padding-top: 12px;
    z-index: 40;
    transition: 0.2s;

    .nav-container {
        grid-column: 2;
        display: flex;
        justify-content: space-around;

        .nav-item {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: em(11px);
            font-family: Cereal-Medium;
            cursor: pointer;
            svg {
                color: rgb(176,176,176);
                margin-bottom: 4px;
            }
            span {
                color: rgb(113, 113, 113);
            }

            &.is-active {
                svg {
                    color: rgb(255, 56, 92);
                }
                span {
                    color: rgb(34,34,34);
                }
            }
            .pending-count {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                height: 20px;
                width: 20px;
                top:-5px;
                right: 0px;
                background-color: rgb(255, 56, 92);
                color: white;
            }
        }
    }
}