.reservations {
    canvas {
        box-sizing: border-box;
        width: 100%;
    }
    .reservation-table{
        width: 100%;
        border-collapse: collapse;
        th {
            text-align: left;
            border-bottom: solid 1px #ebeef5;
            padding: 0;
        }
        tr {
            border-bottom: solid 1px #ebeef5;
        }
        tbody :last-child {
            border-bottom: 0;
        }
        td {
            padding: 5px 0;
            width: max-content;
        }

        .todo-td {
            width: 230px;
        }
        .approve-btn {
            margin-right: 12px;
            margin-left: 0;
            width: 100px;
            height: 32px;
            border-radius: 5px;
            font-size: 1em;
            color: #67c23a;
            background-color: #f0f9eb;
            border: 1px solid #b3e19d;
            &:hover {
                color: white;
                background-color: #67c23a;
                border-color: #67c23a;
            }
            &.is-active {
                color: white;
                background-color: #67c23a;
                border-color: #67c23a;
            }
        }
        .reject-btn {
            width: 100px;
            height: 32px;
            border-radius: 5px;
            font-size: 1em;
            color: #f56c6c;
            background-color: #fef0f0;
            border: 1px solid #fab6b6 !important;
            &:hover {
                color: white;
                background-color: #f56c6c;
                border-color: #f56c6c;
            }
            &.is-active {
                color: white;
                background-color: #f56c6c;
                border-color: #f56c6c;
            }
        }
    }
    .guest-td {
        display: flex;
        align-items: center;
        // height: 100%;
    }
    .mini-img {
        height: 40px;
        width: 40px;
        object-fit: cover;
        border-radius: 50%;
        padding: 0;
        margin-right: 10px;
    }

    .status-td {
        width: 100px;
    }

    & .charts {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,450px));
        justify-content: center;
        gap: 16px;
        margin-bottom: 48px;

        & .listing {
            box-shadow: #0000001f 0 6px 16px;
            position: relative;
            display: flex;
            flex-direction: column;
            border-radius: 15px;
            // width: 400px;
            height: 250px;
            padding: 20px;
            h2 {
                font-family: Cereal-Medium;
            }
            .dougnut-chart {
                // width: 380px
                width: 95%;
                height: 70%;
                position: absolute;
                bottom: 20px
            }
            .bar-chart {
                height: 80%;
                flex: 1 1 0;
            }
        }

        .reservations-status {
            margin-top: 24px;
            .status-info {
                display: flex;
                justify-content: space-between;
                margin: 16px 0;
                font-size: 1.125rem;
    
                .pending {
                    color: orange;
                }
                .approved {
                    color: green;
                }
                .rejected {
                    color: red;
                }
            }
        }
    }
}