.stay-preview {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  .image-slider {
    border-radius: 10px;
    overflow: auto;
  }

  .heart-btn {
    position: absolute;
    height: 27px;
    width: 27px;
    top: 14px;
    right: 14px;
    fill: rgba(0, 0, 0, 0.5);
    stroke: white;
    stroke-width: 1.5px;
    &.is-active {
      fill: #ff385c;
    }
  }

  .stay-info {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }

  .actions {
    position: absolute;
    display: none;
    right: 0;
    bottom: 0;
    width: fit-content;

    & > * {
      margin-right: 0;
      margin-left: 5px;
      margin-bottom: 0;
    }
  }

  &:hover .actions {
    display: block;
  }

  img {
    aspect-ratio: 1/0.95;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 12px;
  }
  .loc-rate {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
    .loc {
      font-family: Cereal-Medium;
    }
    .rate {
      display: flex;
      align-items: center;

      svg {
        position: relative;
        // transform: translateY(-2px);
        transform: translate(-4px, -0.5px);
      }
      .rate-number {
        margin-left: 12px;
      }
    }
  }

  .distance {
    margin-bottom: 2px;
    color: $clr2;
  }
  .dates {
    margin-bottom: 8px;
    color: $clr2;
  }

  .price {
    span {
      font-family: Cereal-Medium;
    }
  }
}
