.edit-stay {
    background-color: rgba(211, 211, 211, 0.208);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    margin-bottom: 100px;

    & input {
        padding: 5px 10px;
        opacity: 0.8;
        border: 0.5px solid rgba(128, 128, 128, 0.411);
        border-radius: 5px;
    }

    & select {
        padding: 4px 10px;
        opacity: 0.8;
        border: 0.5px solid rgba(128, 128, 128, 0.411);
        border-radius: 5px;
    }

    & textarea {
        border-radius: 5px;
        opacity: 0.8;
        border: 0.5px solid rgba(128, 128, 128, 0.411);
    }

    & p {
        margin: 0;
        color: red;
        max-width: 220px;
    }

    & .uploader {

        position: relative;
        border-radius: 5px;
        border: 1px dashed #a8abb2;
        background-color: #ffffffc6;
        text-align: center;
        padding: 40px;

        & div small {
            color: #a8abb2;
        }

        & .my-icons {
            display: block;
            margin: 0 auto;
            width: 2.6rem;
            height: 2.6rem;
            color: #a8abb2;
        }

        & .file {
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            opacity: 0;

        }
    }


    & .address {
        display: inherit;
        justify-content: space-around;

        input {
            width: 100%;
            margin-right: 10px;
        }
    }

    &-details {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;

        & label {
            display: flex;
            flex-direction: column;
        }
    }

    & img {
        width: 100px;
        aspect-ratio: 1/1;
        object-fit: scale-down;
    }

    & .edit-btn {
        margin: 10px 0;
        --mouse-x: 50;
        --mouse-y: 50;
        padding: 20px 30px;
        width: 100%;
        background-size: 200% 200%;
        background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
        background-image: radial-gradient(circle, rgb(207, 11, 98) 0%, rgba(348, 36, 76, 1) 100%);
        cursor: pointer;
        border: none;
        border-radius: 10px;
        // font-size: 36px;
        font-family: 'Raleway', sans-serif;
    }

    & .edit-labels-container {
        background-color: rgba(211, 211, 211, 0);
        display: flex;
        width: 100%;

        & label {
            width: 100%;
        }
    }
}

.imgUrl {
    position: relative;
    display: inline;

    & button {
        opacity: 0;
        position: absolute;
        border: none;
        background-color: rgb(154, 154, 154);
        right: 0;
        border-radius: 50%;
    }
}

.imgUrl:hover {
    & button {
        cursor: pointer;
        opacity: 0.8;
    }
}