.user-trips {
  h1 {
    padding-top: 36px;
    padding-bottom: 24px;
    font-size: 2rem;
  }

  h2 {
    font-size: rem(24px);
    margin-bottom: 34px;
  }
  .trips-table {
    width: 100%;
    border-collapse: collapse;
    th {
      text-align: left;
      border-bottom: solid 1px #ebeef5;
      padding: 0;
      font-family: Cereal-Bold;
      color: #909399;
      padding-bottom: 10px;
    }

    tbody tr {
      border-bottom: solid 1px #ebeef5;
      &:hover {
        background-color: #f5f7fa;
      }
    }
    tbody :last-child {
      border-bottom: 0;
    }
    td {
      padding: 10px 0;
      overflow: hidden;
      color: #606266;
    }
  }
  .destination-td {
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      width: 100px;
      height: 66px;
      object-fit: cover;
      border-radius: 5px;
      margin-right: 10px;
    }
    span {
      font-family: Cereal-Bold;
      color: rgb(34, 34, 34);
      text-overflow: ellipsis;
    }
  }
  .host-td {
    font-family: Cereal-Bold;
  }
}

@media (max-width: 768px) {
  .user-trips {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    width: 100%;

    > * {
      grid-column: 2;
    }
  }
}

.mobile-trips-table {
  width: 100%;
  border-collapse:collapse ;
  th {
    text-align: left;
    border-bottom: solid 1px #ebeef5;
    padding: 0;
    font-family: Cereal-Bold;
    color: #909399;
    padding-bottom: 10px;
  }
  .destination-th {
    width: 50%;
  }
  tbody tr {
    border-bottom: solid 1px #ebeef5;
  }
}
