.mobile-trips-table {
    .top-tr {
        td {
          padding: 10px 0;
        }
        .destination-td {
          font-family: Cereal-Bold;
          color: rgb(34, 34, 34);
          text-overflow: ellipsis;
          width: 85%;
        }
        .dates-td {
          text-align: center;
          font-size: rem(14px);
        }
      }
      
      .bottom-tr {
        background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(0, 0, 0, 0.05) 100%
        );
        td {
          padding: 10px 0;
        }
        .right-td {
          text-align: center;
        }
        .host-info {
          
          color: rgb(34, 34, 34);
          margin-bottom: 10px;
          .title {
            font-family: Cereal-Bold;
            text-decoration: underline;
          }
          span {
              font-family: Cereal-Medium;
          }
        }
        .price-info {
          color: rgb(34, 34, 34);
          margin-bottom: 10px;
          .title {
            font-family: Cereal-Bold;
            text-decoration: underline;
          }
          span {
              font-family: Cereal-Medium;
          }
        }
        .location-info {
          color: rgb(34, 34, 34);
          .title {
            font-family: Cereal-Bold;
            text-decoration: underline;
          }
          span {
              font-family: Cereal-Medium;
          }
        }
        .status-info {
          color: rgb(34, 34, 34);
          .title {
            font-family: Cereal-Bold;
            text-decoration: underline;
          }
        }
      }
      
}
