.listing {
    margin: 20px 0;
}

table.listing-table {
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
    // border-spacing: 8px;


    & tr {
        border-bottom: solid 1px black;
        margin-bottom: 10px;


        .listing-name {
            vertical-align: middle;
            display: flex;

        }

        & th {
            height: 30px;
            text-align: left;
        }

        & .listing-td {
            max-width: 200px;
            // min-width: 250px;
        }

        & td {
            padding: 10px 0;
            text-align: left;
            margin-bottom: 10px;
            // margin: 0 auto;

            & .listing-prev {
                display: flex;
                align-items: center;
                gap: 7px;


                & h3 {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    list-style: none;
                    color: black;
                }
            }

        }
    }

    & .data:hover {
        background-color: rgba(0, 0, 0, 0.162);
    }

    & img {
        width: 80px;
        border-radius: 10px;
    }
}

@media (max-width: 700px) {

    table.listing-table {
        & th {
            font-size: 12px;
        }
    }

}