.main-layout {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    width: 100%;



    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    @include for-narrow-layout {
        grid-template-columns:
            40px 1fr 40px;
    }

    @include for-normal-layout {
        grid-template-columns:
            40px 1fr 40px;
    }

    @include for-wide-layout {
        grid-template-columns:
            80px 1fr 80px;
    }
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}