@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

.details-header-mobile {
    z-index: 1000;
    padding: 0 16px;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    height: 64px;
    background-color: #ffffff;
    justify-content: space-between;

    & .home {
        font-weight: bold;
        cursor: pointer;
    }

    & button {
        cursor: pointer;
        border: none;
        font-weight: bold;
        background-color: #ffffff00;

    }

    & .heart-btn {

        height: 20px;
        width: 27px;
        top: 14px;
        right: 14px;
        fill: rgb(255, 255, 255);
        stroke: rgb(75, 75, 75);
        stroke-width: 1.5px;

        &.is-active {
            fill: #ff385c;
        }
    }

}

.details-header-bar {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 5rem;
    top: 0;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(155, 155, 155, 0.372);

    &-container {
        display: flex;
        align-items: center;
        max-width: 1127px;
        width: 81%;
        margin: auto;
        justify-content: space-between;


        &-a-links {
            margin: 0;
            display: flex;
            justify-content: space-between;
            width: 297px;

            >* {
                font-size: 14px;
                font-weight: 600;
                color: #000000;
            }
        }

        & .reserve-btn-header {

            height: 50px;

            &-details {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 144px;

                >* {
                    height: 19px;
                }

                & span {
                    font-weight: bold;
                }

                & .header-review {
                    font-size: 14px;

                }

            }

            & .reserve-btn {
                width: 115px;
            }
        }
    }
}

.stay-details {
    padding: 13px 0;
    max-width: 1127px;
    margin: 0 auto;
    position: relative;

    min-width: 200px;

    & h2 {
        margin-bottom: 5px;
    }

    >* {
        grid-column: 2;
        width: 100%;

        &.full {

            grid-column: 1 /-1;
        }
    }

    & .no-reviews {
        font-size: 22px;
        font-weight: bold;
        border-bottom: 1px solid rgba(155, 155, 155, 0.372);
        padding: 48px 0;

    }

    & .stay-mini-sumerry {
        display: flex;
        justify-content: space-between;
        margin-bottom: 17px;

        & a {
            font-weight: bold;
            color: #000000;
            text-decoration: underline;
        }


        & .share-save-btns {
            text-decoration: underline;
        }

        & .heart-btn {

            height: 20px;
            width: 27px;
            top: 14px;
            right: 14px;
            fill: rgb(255, 255, 255);
            stroke: rgb(75, 75, 75);
            stroke-width: 1.5px;

            &.is-active {
                fill: #ff385c;
            }
        }
    }

    & .image-slider:hover {
        cursor: pointer;
        opacity: 0.8;
    }

}

.dote {
    padding: 0 5px;
    // justify-content: center;
}

.imgs-grid {
    // height: 430px;
    max-width: 1120px;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    & img {
        aspect-ratio: 1/0.89;
        object-fit: cover;
    }

    & img:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    & .first {

        grid-column: 1/3;
        grid-row: 1/-1;
    }

    & button {
        cursor: pointer;
        font-size: 1rem;
        padding: 8px;
        width: 160px;
        border: solid 1px black;
        background-color: #ffffff;
        border-radius: 5px;
        position: absolute;
        right: 25px;
        bottom: 25px;

        & span {
            margin: 0 2px;
        }
    }
}

.imgs-modal {
    display: none;
    background-color: #fefefe;
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    padding-top: 100px;

    &.close {
        animation: mymove2 1s 1;
    }

    &.open {
        z-index: 2000;
        display: flex;
        flex-direction: column;
        gap: 10px;
        animation: all-img-grid-open 1s 1;

        & button {
            cursor: pointer;
            border: none;
            font-weight: bold;
            background-color: #ffffff00;
            top: 18px;
            left: 14px;
            position: absolute;
        }

        & img {
            margin: 0 auto;
            width: 40%;
        }
    }


}


@keyframes all-img-grid-open {
    from {
        top: 100px;
        opacity: 0;
    }

    to {
        top: 0px;
        opacity: 1;
    }

}

@keyframes mymove2 {
    from {
        top: 0px;
        opacity: 1;
    }

    50% {
        top: 100px;
        opacity: 0;
    }

    100% {
        display: none;
    }

}


.stay-details-full {

    display: grid;
    grid-template-columns: 1.45fr 1fr;
    border-bottom: 1px solid rgba(155, 155, 155, 0.372);



    & .details {
        padding: 20px 0;

        >*:not(:last-child) {
            border-bottom: 1px solid rgba(155, 155, 155, 0.372);
        }

        // position: relative;
        & .summery {
            padding: 42px 0;

        }

        & .details-header {
            padding-bottom: 15px;

            & h4 {
                font-size: 1.4rem;
            }

            display: flex;
            justify-content: space-between;
        }

    }

    & img {
        aspect-ratio: 1/1;
        object-fit: cover;

        border-radius: 50%;
        width: 56px;
        height: 56px;
    }
}

.stay-amenities {
    padding: 30px 0;

    & h4 {
        font-size: 1.4rem;
    }
}

.amenities-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    & * {
        display: flex;
        align-items: center;
        margin: 5px 0;

        & span {
            margin-left: 15px;
        }
    }

}

.reviews {
    margin-top: 10px;
    list-style: none;
    padding: 42px 0;
    border-bottom: 1px solid rgba(155, 155, 155, 0.372);

    & .reviews-bar {
        margin-top: 33px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);


        >* {

            display: flex;
            justify-content: space-between;
            padding-right: 30px;
            margin-right: 60px;
            margin-bottom: 15px;

            & p {
                margin: 0;
            }

            & .progress {
                display: flex;
                align-items: center;
                width: 160px;

                & progress {

                    border: 0;
                    border-radius: 2px;
                    height: 4px;

                    &::-webkit-progress-bar {
                        background-color: rgb(221, 221, 221);
                        border: 0;
                        border-radius: 2px;
                        height: 4px;

                    }

                    &::-webkit-progress-value {
                        border: 0;
                        border-radius: 2px;
                        height: 4px;
                        background-color: rgb(0, 0, 0);

                    }

                }


            }

            & span {
                margin: 0 10px;
            }
        }

    }

    & img {
        aspect-ratio: 1/1;
        object-fit: cover;
        margin-right: 15px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }

    &-list {

        & .show {
            font-weight: 600;
            margin-top: 8px;
            display: flex;
            align-items: center;
        }

        & a {
            color: #000000;
            text-decoration: underline;
        }

        & .review-user {
            & h4 {
                margin-bottom: 4px;
            }

            & p {
                color: #717171;
            }
        }

        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        >* {
            margin-bottom: 40px;
        }

        & .txt {
            line-height: 24px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            margin-top: 16px;
            margin-right: 20px;
        }
    }
}

.reserve {
    position: relative;
    padding: 20px 0;

    &-module {
        position: sticky;
        padding: 24px;
        border-radius: 10px;
        top: 128px;
        width: 80%;
        max-width: unset;
        // min-width: 250px;
        right: 0;
        border: 1px solid rgb(221, 221, 221);
        box-shadow: #0000001f 0 6px 16px;
        margin-left: 80px;

        & .price {
            font-size: 1.2rem;
            color: #000000;

            & span {
                margin-left: 5px;
            }
        }

        & a {
            color: #717171;
            text-decoration: underline;
        }

        & .date-picker {
            position: absolute;
            z-index: 100;

            &.close {
                visibility: hidden;
            }
        }

        & .stay-price {
            margin-top: 16px;

            & * {
                padding-bottom: 16px;
                display: flex;
                justify-content: space-between;
            }

            & .price-details {
                &>*:not(:last-child) {
                    text-decoration: underline;
                }
            }

            & .service-fee {
                &>*:not(:last-child) {

                    text-decoration: underline;
                }

                border-bottom: 1px solid rgba(155, 155, 155, 0.372);

            }

            & .total {
                padding-top: 24px;
                font-weight: bold;


            }
        }
    }

    & .top {
        >:last-child {
            font-size: 0.8rem;
            margin-bottom: 13px;
        }

        min-width: max-content;
        margin: 5px 0;
        display: flex;
        justify-content: space-between;
    }


    &-date-guests {
        border: 1px solid rgb(155, 155, 155);
        margin-top: 8px;
        border-radius: 7px;
        display: grid;
        min-height: 115px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        text-align: left;
        margin-bottom: 12px;

        & * {
            color: #717171;
            padding: 10px;

            & div {
                font-weight: bold;
                padding: 0;
                font-size: 10px;
                color: #000000;
            }

            & span {
                padding: 10px 0;
            }
        }

        & .start-date {
            // display: flex;
            // flex-direction: column;
            // justify-content: space-between;
            border-right: 1px solid rgb(155, 155, 155);
        }

        & .guests {
            display: flex;
            flex-direction: column;

            & * {
                padding: 0;
            }

            border-top: 1px solid rgb(155, 155, 155);
            grid-column: 1/3;
        }

    }

    & .guests-modal {
        top: 190px;
        background-color: white;
        border-radius: 15px;
        padding: 10px;
        width: 87%;
        position: absolute;
        box-shadow: #0000001f 0 6px 16px;

        & div {
            display: flex;
            justify-content: space-between;

            & button {
                aspect-ratio: 1/1;
                background-color: white;
                color: black;
                border: 0.5px solid rgba(163, 163, 163, 0.685);
                border-radius: 50%;
            }

            & button:hover {
                background-color: rgba(163, 163, 163, 0.443);
            }

            & button.not {
                cursor: not-allowed;
                background-color: white;
            }

        }

        &.close {
            visibility: hidden;
        }
    }
}

.special-preks {
    padding: 15px 0;

    & .preks {
        display: flex;
        gap: 1rem;
        margin-bottom: 10px;

        & .container {
            padding: 0 10px;
            display: flex;
            flex-direction: column;
            gap: 0;

            & span {
                color: rgba(0, 0, 0, 0.548);
            }
        }
    }
}

.share-save-btns {
    & button {
        background-color: white;
        color: black;
        // border: 1px solid black;
        border-radius: 20px;
    }

    & button:hover {
        background-color: rgba(174, 174, 174, 0.244);
    }
}

.review-user {
    display: flex;
}

.map {
    padding: 48px 0;

    & h4 {
        font-size: 1.4rem;
        padding-bottom: 24px;
        margin: 0;
    }

    & p {
        padding-bottom: 24px;
        margin: 0;
    }
}


.my-icons {
    width: 1.6rem;
    height: 1.6rem;

    &-loc {
        width: 1.9rem;
        height: 1.9rem;
        fill: rgb(255, 0, 0);
    }
}

.counter {
    margin: 0 3px;
}

.save-btn {
    border-radius: 10px;
    padding: 5px;

}

.save-btn:hover {
    background-color: #7171711a;
}


.reserve-mobile {
    border-top: 0.5px solid rgba(163, 163, 163, 0.685);
    padding: 9px 15px;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    width: 100%;
    position: fixed;
    background-color: white;
    bottom: 0;

    & .mobile-details {
        padding: 10px 0;
        display: flex;
        flex-direction: column;

        & .price-night {
            width: max-content;

            & span {
                margin-left: 5px;
                margin-right: 26px;
            }
        }
    }

    & .date-picker {
        position: absolute;
        bottom: 100px;
        max-height: max-content;

        &.close {
            display: none;
        }

        & button {
            padding: 22px;
        }
    }

    & button {
        margin: auto 0;
        height: 50px;
        width: max-content;
    }
}

// mobile only

@media (max-width: 780px) {
    .stay-details {
        max-width: 780px;
        padding-top: 0;

        & .image-slider {
            width: 100%;
            margin: 0 auto;

            & img {
                aspect-ratio: 1/0.8;
            }
        }

        & .reviews {
            padding: 42px 0 42px 24px;
            position: relative;
            height: 400px;
            margin-bottom: 30px;

            & .reviews-list {
                // position: absolute;
                display: flex;
                overflow: auto clip;

                &::-webkit-scrollbar {
                    display: none;
                }

                & .review {
                    margin-right: 12px;
                    padding: 16px;
                    border: 0.5px solid rgba(163, 163, 163, 0.685);
                    border-radius: 10px;
                    margin-bottom: 0;
                    height: 236px;
                    min-width: 540px;

                    & .txt {
                        margin: 0;
                    }
                }
            }


        }

        & .map {
            padding: 48px 24px 0 24px;


            & .map-summary {
                margin-top: 10px;
            }
        }
    }


    .stay-details-full {
        display: block;

        & .reserve {
            padding: 0;
        }


        & .details {
            padding: 20px 0 0;

            & .details-header {
                padding-top: 24px;
            }

            & .summery {
                padding: 42px 24px;
            }

            & .stay-amenities {
                padding: 30px 24px;

                & .amenities-container {
                    display: block;
                }
            }

            >* {
                padding: 0 24px;
            }
        }
    }

    .reserve-module {
        margin: 0 auto;
    }
}