@font-face {
    // font-family: caveat;
    // src: url(../../fonts/Caveat/Caveat-Regular.ttf);
}
@font-face {
    // font-family: montserrat;
    // src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Circular-Medium;
    src: url(../../fonts/CircularStd-Medium.otf)
}
@font-face {
    font-family: Circular-Bold;
    src: url(../../fonts/CircularStd-Bold.otf)
}
@font-face {
    font-family: Circular-Book;
    src: url(../../fonts/CircularStd-Book.otf)
}
@font-face {
    font-family: Circular-Light;
    src: url(../../fonts/CircularStd-Light.otf)
}
@font-face {
    font-family: Circular-Black;
    src: url(../../fonts/CircularStd-Black.otf)
}

@font-face {
    font-family: Cereal-Medium;
    src: url(../../fonts/Cereal-Medium.ttf)
}
@font-face {
    font-family: Cereal-Bold;
    src: url(../../fonts/Cereal-Bold.ttf)
}
@font-face {
    font-family: Cereal-Book;
    src: url(../../fonts/Cereal-Book.ttf)
}